@import "../../vars";
.intro__inner {
  padding: 60px 187px;

  position: relative;
  border: 1px solid $white;
}

.intro__title {
  font-family: $font-family-secondary;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: $white;

  padding-bottom: 40px;
  margin-bottom: 40px;

  &:before {
    content: "";
    width: 160px;
    border-bottom: 1px solid $white;
  }
}

.intro__text {
  font-family: $font-family-premiere;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $white;

  margin-bottom: 60px;
}

.intro__img {
  display: flex;
  justify-content: center;
}


//@Media


@media (max-width:990px) {

  .intro__inner {
    padding: 50px 130px;
  }

  .intro__title {
    font-size: 28px;
    margin-bottom: 30px;
  }

}

@media (max-width:770px) {

  .intro__inner {
    padding: 40px 90px;
  }
  .intro__title {
    font-size: 26x;
  }

  .intro__text {
    font-size: 14px;
  }
}

@media (max-width:575px) {

  .intro__inner {
    padding: 30px 50px;
  }

  .intro__text {
    display: none;
  }
}
