@import "../../vars";

.input {
  width: 100%;

  margin-bottom: 40px;
  background-color: transparent;
  padding: 0 10px 10px 0;

  font-family: $font-family-premiere;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: $white;

  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid $white;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: $font-family-premiere;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: $white;
  }
}
