@import "../../vars";

.button {
  background-color: $mustard;
  border: none;

  font-family: $font-family-premiere;
  font-size: 1.06em;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: 0.05em;
  text-align: center;
  color: $white;
  cursor: pointer;

  padding: 1em 2.6em;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: darken($mustard, 5%);
  }
}

//@Media

@media (max-width:575px) {
  .button {
    padding: 1em;
  }
}
