@import "../../vars";

.item__burger {
  display: block;
  width: 100%;

  font-family: $font-family-premiere;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: $white;
  background-color: $mustard;

  padding: 12px 55px;

  border-bottom: 1px solid $white;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

}
