@import "../../vars";

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
}

.logo {
  margin-right: 285px;
}

//.arrow {
//  margin-left: 10px;
//
//  img:hover {
//    stroke: #1F2041;
//    fill: #1F2041;
//  }
//}

