@import "../../vars";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 45px;
  width: 100%;

  margin-bottom: 550px;
}


@media (max-width:770px) {

  .navbar {
    display: none;
  }
}
