@import "../../vars";

.rooms {
  width: calc(100% - 320px);

  margin-left: 320px;
  padding: 30px 0;
}

.title {
  font-family: $font-family-premiere;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: $grey;

  margin-bottom: 30px;
}
