@import "../../vars";

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;

  border-bottom: 1px solid $white;
  border-top: 1px solid $white;

  a{
    color: $white;
    text-decoration: none;

    font-family: $font-family-premiere;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}


//@Media


@media (max-width:990px) {
  .nav {
    padding: 20px 50px;
  }
}

@media (max-width:770px) {
  .nav {
    padding: 15px 25px;
    font-size: 12px;
  }
}

@media (max-width:700px) {
  .nav {
    flex-wrap: wrap;
    padding-bottom: 0;
    a {
      width: 33.333%;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

