@import "../../vars";
.cell {
  font-family: $font-family-premiere;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: $black;

  &:first-child {
    border-right: 1px solid $black;

    padding: 25px;
  }
}

tr:not(:last-child) {
  th {
    border-bottom: 1px solid $black;
  }
}

.inner {
  margin-left: 30px;
}

.title {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: $black;
}

.text {
  font-family: $font-family-premiere;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: $black;
  text-align: left;
}
