@import "../../vars";

.item {
  margin-right: 50px;
}

.title {
  font-family: $font-family-premiere;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: $grey;

  margin-bottom: 21px;
}

.links {
  list-style: none;

  li:not(:last-child) {
    margin-bottom: 10px;
  }

  a {
    font-family: $font-family-premiere;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: lighten($grey, 50%);
    text-decoration: none;

    &:hover {
      color: darken($grey, 25%);
    }
  }
}
