
//colors
$primaryGradient:  linear-gradient(to bottom, #BC9CFF 0%, #8BA4F9 100%);
$secondaryGradient: linear-gradient(to bottom, #6FCF97 0%, #66D2EA 100%);
$purple: #BC9CFF;
$grey: #1f2041;
$white: #ffffff;

//fonts
$font-family-premiere: Montserrat, serif;
